<div class="ml-5 mb-3">
  <div>
    <%= comment.user.username %> commented:
    <%= comment.body %>
  </div>
  <hr>
  <div>
    <span>(PH) React</span>
    <span>Reply</span>
    <span>Edit</span>
    <span>Delete</span>
  </div>
  <hr>
</div>