<div class="ml-5 mb-3">
  <div>
    <%= comment.user.username %> commented:
    <%= comment.body %>
  </div>
  <hr>
  <div>
    <div>
      <i class="far fa-thumbs-up"></i>
    </div>

    <%= render 'comments/comment_form', commentable: comment, comment: Comment.new %>
    <div>
      <i class="far fa-pen-to-square"></i>
    </div>
    <%= button_to post_comment_path(comment.commentable, comment), method: :delete do %>
      <i class="far fa-trash-can"></i>
    <% end %>
  </div>
  <hr>
</div>