<div class="relative">
  <%= button_to notifications_path, method: :get, data: { action: close_window('dropdown'), dropdown_target: 'button' } do %>
    <i class="fa-solid fa-bell"></i>
    <% if current_user.unread_notifications.count > 0 %>
      <span class="absolute w-5 bottom-2 left-3 border-2 border-white bg-red-500 rounded-full text-[10px] text-white text-center align-middle">
        <%= current_user.unread_notifications.count >= 99 ? '99+' : current_user.unread_notifications.count %>
      </span>
    <% end %>
  <% end %>
</div>