<div id="notifications_list" class="opacity-95 text-slate-700 tracking-normal normal-case" data-controller="notifications" data-notifications-default-tab-value="unread">
  <ul class="<%= animation(animate, 'animate-slideDown') %> absolute z-[1] top-16 right-0 w-72 pb-2 px-4 border-2 rounded-md bg-white hover:cursor-default shadow-sm" data-notifications-target="popup">
    <div class="flex justify-between items-end my-2 gap-2 text-[13px] ">
      <div class="flex gap-2 decoration-2">
        <button id="unread" data-notifications-target="tabBtn" data-action="notifications#select">Unread</button>
        <button id="read" data-notifications-target="tabBtn" data-action="notifications#select">Read</button>
      </div>
      <%= button_to 'Clear All', clear_all_notifications_path, class: 'btn-sm normal-case', method: :delete %>
    </div>
    <hr class="mb-2">

    <% if unread.present? || read.present? %>
      <div id="unread" data-notifications-target="tab">
        <% unread.each do |notification| %>
          <%= render notification %>
        <% end %>
      </div>

      <div id="read" data-notifications-target="tab">
        <% read.each do |notification| %>
          <%= render notification %>
        <% end %>
      </div>
    <% else %>
      <div id="no_notifications" data-notifications-target="tab">
        <li class="text-xs text-center">No notifications</li>
      </div>
    <% end%>
  </ul>
</div>