<li class="mb-1">
  <div class="flex justify-between gap-2">
    <%= link_to notifiable_link_type(notification), class: 'link' do %>
      <span class="text-xs"><%= notification.notification_message %></span>
    <% end %>
    <%= button_to notification, method: :delete do %>
      <i class="fa-regular fa-circle-xmark text-red-400 text-xs"></i>
    <% end %>
  </div>
</li>