<h1><%= @user.name %>'s page</h1>
<h1>Profile splash goes here</h1>
<%= render 'posts/form', post: @new_post, user: @user %>

<div id="posts" class="mb-10">
  <%= render @posts, user: current_user %>
</div>

<% if @pagy.next.present? %>
  <%= turbo_frame_tag :infinite_scroll, loading: :lazy, src: posts_path(format: :turbo_stream), class: 'absolute bottom-5' %>
<% end %>