<%= turbo_stream.append :posts do %>
   <%= render @posts, user: current_user %>
<% end %>

<%= turbo_stream.append :posts do %>
  <% if @pagy.next.present? %>
    <%= turbo_frame_tag :infinite_scroll, loading: :lazy, src: user_path(@user, format: :turbo_stream, page: @pagy.next) do %>
      <div id="skeleton" class="flex justify-center my-10">
        <p class="text-slate-600 font-normal">Loading Posts...</p>
      </div>
    <% end %>
  <% end %>
<% end %>