<div id="alert" class="sticky top-[72px]">
  <% if notice %>
    <div class="w-fit mx-auto -mb-8 h-8 px-4 flex items-center justify-center animate-slide-in-down animate-fade-out text-xs sm:text-base bg-teal-500 text-white rounded-md">
      <%= notice %>
    </div>
  <% end %>
  
  <% if alert %>
    <div class="w-fit mx-auto -mb-8 h-8 px-4 flex items-center justify-center animate-slide-in-down animate-fade-out text-xs sm:text-base bg-red-500 text-white rounded-md">
      <%= alert %>
    </div>
  <% end %>
</div>