<div id="alert">
  <% if notice %>
    <div class="text-xs sm:text-base flex items-center justify-center h-8 bg-teal-500 text-white">
      <%= notice %>
    </div>
  <% end %>
  
  <% if alert %>
    <div class="text-xs sm:text-base flex items-center justify-center h-8 bg-red-500 text-white">
      <%= alert %>
    </div>
  <% end %>
</div>