<div id="alert">
  <% if notice %>
    <div class="w-72 mx-auto -mb-8 h-8 flex items-center justify-center animate-slideDown animate-fadeOut text-xs sm:text-base bg-teal-500 text-white rounded-md">
      <%= notice %>
    </div>
  <% end %>
  
  <% if alert %>
    <div class="w-72 mx-auto -mb-8 h-8 flex items-center justify-center animate-slideDown animate-fadeOut text-xs sm:text-base bg-red-500 text-white rounded-md">
      <%= alert %>
    </div>
  <% end %>
</div>