<%= link_to root_path, class: 'min-w-max border-2 rounded-full p-[2px]' do %>
  <%= image_tag('join-icon.svg', width: '28px') %>
<% end %>

<%= link_to users_path, class: 'flex gap-1 items-center' do %>
  <i class="fa-solid fa-magnifying-glass"></i>
  <p>Search</p>
<% end %>