<div class="flex justify-between items-center mb-2">
  <h1 class="pr-5 font-source text-center font-semibold text-xl tracking-wide text-orange-500 whitespace-nowrap">
    .messages
  </h1>
  <hr class="border-t-2 border-orange-200 w-full">
</div>

<div class="page-content-card px-6 py-3 gap-2">
  <% @chats.each do |chat_preview| %>
    <%= render 'chats/last_message_preview', chat_preview: chat_preview, friend: chat_preview.other_user(current_user) %>
  <% end %>
</div>
