<div id="<%= dom_id(user) %>" class="flex gap-x-2">
  <%= link_to user.username, user_path(user), class: 'font-medium' %>
  <% status = current_user.friendship_status(user) %>
  <%= button_for_friendship_type(status, user) %>
</div>