<h1>Friend Requests</h1>
<hr>
<% @friend_requests.each do |request| %>
  <%= render 'friend_request', user: request.friend %>
<% end %>
<br>
<h1>Friends</h1>
<hr>
<div class="flex flex-col">
  <% @friends.each do |friend| %>
    <div class="flex gap-2 justify-between">
      <%= link_to friend.name, friend %>
      <%= button_to friendship_path(friend), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'sm:btn sm:btn-sm btn-icon ' do %>
        <p class="normal-case sm:block hidden">Remove</p>
        <i class="fa-solid fa-handshake-simple-slash text-orange-500 text-lg px-1 sm:hidden block"></i>
      <% end %>
    </div>
  <% end %>
</div>