<div>
  <%= form_with model: post do |f| %>
    <div data-controller="form">
      <%= f.text_area :body, placeholder: "What's on your mind?", data: { action: 'input->form#resize', target: 'form.input' }%>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>