<%= render 'posts/form', post: @new_post %>

<%= turbo_frame_tag "posts_page_#{@pagy.page}" do %>
  <div id="posts">
    <%= render @posts, user: current_user %>
    <% if @pagy.next.present? %>
      <%= render 'posts/infinite_scroll', user: current_user %>
    <% end %>
  </div>
<% end %>
