@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@layer components {
  body {
    /* for notification slide in/out animations */
    overflow-x: hidden;
  }

  .btn {
    @apply w-fit px-4 py-2 bg-stone-500 ease-linear transition-all duration-150 cursor-pointer
    font-normal uppercase text-xs text-slate-200 rounded-full shadow-md outline-none
    active:bg-orange-500 hover:bg-amber-700 hover:shadow-md focus:outline-none;
  }

  .btn-sm {
    @apply w-fit tracking-wide px-2 py-1
  }

  .btn-icon {
    @apply py-1 bg-inherit ease-linear duration-100
    active:text-orange-500 hover:text-slate-500
  }

  .showpage-font { 
    font-size: clamp(.8rem, 1vw + 1rem, 1.6rem);
    line-height: 1.75rem;
  } 

  .selected-notification {
    text-decoration-line: underline;
    text-decoration-color: #fb923c;
  }

  .form-field {
    border: none;
    border-radius: 1rem;
    background-color: #e7e5e4;
    font-size: 14px;
    width: 100%;
  }

  .icon {
    color: #e06706;
  }

  a:hover {
    color: #e06706;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 100ms;
  }

  .avatar {
    min-width: 20px;
    min-height: 20px;
    border-color: #e06706;
    border-width: 2px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }

  .avatar img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
