@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@layer components {
  .btn {
    @apply bg-stone-500 text-slate-200 active:bg-orange-500 font-normal uppercase text-xs tracking-wide w-fit px-4 py-2 rounded-full shadow-md hover:bg-amber-700 hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150 cursor-pointer;
  }

  .btn-sm {
    @apply bg-stone-500 text-slate-200 active:bg-orange-500 font-normal uppercase text-xs w-fit px-2 py-1 rounded-full shadow-md hover:bg-amber-700 hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150 cursor-pointer;
  }

  .form-field {
    border: none;
    border-radius: 1rem;
    background-color: #e7e5e4;
    font-size: 14px;
    width: 100%;
  }

  .icon {
    color: #e06706;
  }

  a:hover {
    color: #e06706;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 100ms;
  }

  .avatar {
    width: 36px;
    height: 36px;
    border-color: #e06706;
    border-width: 2px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .avatar img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
