@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Code+Pro:wght@400;500;600;700&display=swap');

@layer components {
  body {
    /* for notification slide in/out animations */
    overflow-x: hidden;
  }

  .btn {
    @apply w-fit px-4 py-2 bg-stone-500 ease-linear transition-all duration-150 cursor-pointer
    font-normal uppercase text-xs text-slate-200 rounded-full shadow-md outline-none
    hover:bg-orange-500 active:bg-amber-700 hover:shadow-md focus:outline-none;
  }

  .btn-sm {
    @apply w-fit tracking-wide px-2 py-1
  }

  .btn-icon {
    @apply py-1 bg-inherit ease-linear duration-100
    active:text-orange-500 hover:text-slate-500
  }

  .btn-choose-file {
    @apply file:mr-2 file:px-4 file:py-2 file:bg-stone-500 file:ease-linear file:transition-all file:duration-150
    file:font-normal file:uppercase file:text-xs file:text-slate-200 file:rounded-full file:border-0 file:shadow-md
    hover:file:cursor-pointer hover:file:bg-orange-500 text-xs
  }

  .animate-logo-sm {
    @apply relative isolate overflow-hidden rounded-full
    hover:before:animate-shimmer ease-in-out duration-200
    before:absolute before:inset-0 before:bg-gradient-to-r before:from-transparent
    before:via-white/50 before:to-transparent before:-translate-x-full
  }

  .animate-logo-lg {
    @apply relative transition-all min-w-min
    before:w-0 before:h-[1px] before:absolute before:bottom-0 before:right-0 before:bg-white before:transition-all before:duration-500
    hover:before:w-full hover:before:left-0 hover:before:bg-orange-500
  }

  .page-content-card {
    @apply flex flex-col w-full mt-2 py-8 sm:px-24 px-6 border-2 rounded-md bg-white shadow-md
  }

  .showpage-font { 
    font-size: clamp(.8rem, 1vw + 1rem, 1.6rem);
    line-height: 1.75rem;
  } 

  .selected-notification {
    text-decoration-line: underline;
    text-decoration-color: #fb923c;
  }

  .form-field {
    border: none;
    border-radius: 1rem;
    background-color: #e7e5e4;
    font-size: 14px;
    width: 100%;
  }

  .icon {
    color: #e06706;
  }

  .link:hover {
    color: #e06706;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 100ms;
  }

  .avatar {
    min-width: 20px;
    min-height: 20px;
    border-color: #e06706;
    border-width: 2px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }

  .avatar img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
